header{
min-height: 100vh;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,
url(../img/home.jpg);
background-position: center;
background-size: cover;
padding-top: 150px;
}

footer{
    padding: 40px 0;
    background-color: darkslategrey;
    padding: center;
    
        }
    